.div {

background-color: beige;
width: 400px;
height: 300px;
animation: pulse 5s infinite;

}

@keyframes pulse {
    0% {
      background-color: #001F3F; 
    }
    50% {background-color: orchid}
    100% {
      background-color: #FF4136;
    }
  }